.paralax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-image: url(../img/Layer%2021.png);
    height: 100vh;
    position: relative;
}
.text{
    position: absolute;
    bottom: 135px;
    color:  #ffffff;
    margin-left: 82px;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
.border1{
    display: block;
    box-sizing: border-box;
    border: 1px solid ;
    padding: 40px 28px 40px 0;
    font-size: 54px;
    font-weight: 700;
    background-color:  rgba(0, 0, 0, 0.3);
    
}
.We{
    color: #f1ad1d;
    font-size: 54px;
    font-weight: 70
    background-color: #fff;
    padding: 42px 28px;
    margin-right: 15px;

}
.text1 p{
    font-size: 18px;
    padding-bottom: 30px;
}
.line2{
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}
.line2 h2{
    color:  #333333;
    font-size: 22px;
    line-height: 18px;
    font-weight: 700;
}
.line2 p{
    margin-top: 15px;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}
.orline{
    color:  #f1ad1d;
    font-weight: bold;
    margin-top: 125px;
    text-align: center;
}
.line3{
    background-image: url(../img/Layer%2022.png);
    height: 380px;
    text-align: center;
}
.line3 div{
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}
.line3 span{
    color:  #f1ad1d;
    font-size: 22px;
    font-weight: 700;
}
.line4{
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}
.line4 h2{
    color:  #333333;
    font-size: 22px;
    line-height: 18px;
    font-weight: 700;
}
.line4 p{
    margin-top: 15px;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}
.line5{
    background-image: url(../img/Layer%2025.png);
    height: 380px;
    text-align: center;
}
.line5 div{
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}
.line5 span{
    color:  #f1ad1d;
    font-size: 22px;
    font-weight: 700;
}
img{
    padding-right: 50px;
    padding-top: 40px;
}
.line6{
    background-image: url(../img/Layer%2024.png);
    height: 485px;
    text-align: center;
}
.line6 div{
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 30px;
}
.line6 span{
    color:  #f1ad1d;
    font-size: 22px;
    font-weight: 700;
}
h6, h5{
    display: inline;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
h5{
    color:  #ffffff;
}
h6{
  color:  #f1ad1d;  
}